 {{#partial "contenido"}}
    <div class="p-10 flex flex-col gap-4 justify-center items-center">
        <a class="button" href="/admin/entidades">Ver Entidades</a>
        <form action="/admin/entidades" method="POST" class="w-1/2 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="text-lg font-semibold mb-4">Entidad</h2>
            <div class="mb-4">
                <label for="entidad-nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
                <input type="text" id="entidad-nombre" name="nombre"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       required>
            </div>
            <div class="mb-4">
                <label for="prestadora" class="block text-gray-700 text-sm font-bold mb-2">Entidad Prestadora:</label>
                <select required id="prestadora" name="prestadora"
                        data-te-select-init data-te-select-filter="true"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        required>
                    <option selected disabled hidden>Seleccionar prestadora</option>
                    {{#each prestadoras}}
                        <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="flex flex-col gap-4 justify-center items-center">
                <select id="provincia" name="provincia"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        required>
                    <option selected disabled hidden>Seleccionar provincia</option>
                    {{#each provincias}}
                        <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>

                <select id="municipio" name="municipio"
                        class="hidden shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        required>
                    <option selected disabled hidden>Seleccionar municipio</option>
                </select>

                <select id="localidad" name="localidad"
                        class="hidden shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        required>
                    <option selected disabled hidden>Seleccionar localidad</option>
                </select>
            </div>


            <div class="flex items-center justify-between">
                <button type="submit"
                        class="button">
                    Crear Entidad
                </button>
            </div>
        </form>

        <a class="button" href="/admin/establecimientos">Ver Establecimientos</a>
        <form action="/admin/establecimientos" method="POST" class="w-1/2 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="text-lg font-semibold mb-4">Establecimiento</h2>
            <div class="mb-4">
                <label for="establecimiento-nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
                <input type="text" id="establecimiento-nombre" name="nombre"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       required>
            </div>
            <div class="mb-4">
                <label for="entidad" class="block text-gray-700 text-sm font-bold mb-2">Entidad:</label>
                <select id="entidad" name="entidad" data-te-select-init data-te-select-filter="true"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        required>
                    <option selected disabled hidden>Seleccionar Entidad</option>
                    {{#each entidades}}
                        <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit"
                        class="button">
                    Crear Establecimiento
                </button>
            </div>
        </form>

        <a class="button" href="/admin/servicios">Ver servicios</a>
        <form action="/admin/servicios" method="POST" class="w-1/2 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="text-lg font-semibold mb-4">Servicio</h2>
            <div class="mb-4">
                <label for="entidad-servicio" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
                <input type="text" id="entidad-servicio" name="nombre"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       required>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit"
                        class="button">
                    Crear Servicio
                </button>
            </div>
        </form>

        <form action="/admin/prestaciones" method="POST" class="w-1/2 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-lg font-semibold mb-4">Prestacion</h2>
        <div class="mb-4">
            <label for="prestacion-nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
            <input type="text" id="prestacion-nombre" name="nombre"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   required>
        </div>
        <div class="mb-4">
            <label for="establecimiento" class="block text-gray-700 text-sm font-bold mb-2">Establecimiento:</label>
            <select id="establecimiento" name="establecimiento"
                    data-te-select-init data-te-select-filter="true"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    required>
                <option selected disabled hidden data-te-select-init>Seleccionar Establecimiento</option>
                {{#each establecimientos}}
                    <option value="{{this.id}}">{{this.nombre}}</option>
                {{/each}}
            </select>
        </div>
        <div class="mb-4">
            <label for="servicio" class="block text-gray-700 text-sm font-bold mb-2">Servicio:</label>
            <select id="servicio" name="servicio"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    required>
                <option selected disabled hidden>Seleccionar servicio</option>
                {{#each servicios}}
                    <option value="{{this.id}}">{{this.nombre}}</option>
                {{/each}}
            </select>
        </div>
        <div class="flex items-center justify-between">
            <button type="submit"
                    class="button">
                Crear Prestacion
            </button>
        </div>
    </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            /* when select with provincias is selected, fetch the api*/
            let provinciaId;
            let municipioId;
            let localidadId;
            let url = '{{API_GEOREF}}';
            console.log(url);
            document.getElementById('provincia').addEventListener('change', function () {
                provinciaId = this.value;
                fetch(url + 'municipios?provincia=' + provinciaId + '&max=5000')
                        .then(response => response.json())
                        .then(data => {
                            let municipios = data.municipios;
                            console.log(municipios);
                            let select = document.getElementById('municipio');
                            select.innerHTML = '';
                            municipios.forEach(municipio => {
                                let option = document.createElement('option');
                                option.value = municipio.id;
                                option.text = municipio.nombre;
                                select.appendChild(option);
                            });
                            select.classList.remove('hidden');
                        });
            });
            document.getElementById('municipio').addEventListener('change', function () {
                municipioId = this.value;
                fetch(url + 'localidades-censales?provincia=' + provinciaId + '&municipio=' + municipioId + '&max=5000')
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            let localidades = data.localidades_censales;
                            let select = document.getElementById('localidad');
                            select.innerHTML = '';
                            localidades.forEach(localidad => {
                                let option = document.createElement('option');
                                option.value = localidad.id;
                                option.text = localidad.nombre;
                                select.appendChild(option);
                            });
                            select.classList.remove('hidden');
                        });
            });
            document.getElementById('localidad').addEventListener('change', function () {
                localidadId = this.value;
            });
        });
    </script>
{{/partial}}
{{> templates/templateBase }}