{{#partial "contenido"}}
    {{#if rankings}}
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg p-16">
            <div class="pb-4">
                <button id="dropdownRadioButton" data-dropdown-toggle="dropdownRadio"
                        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                        type="button">
                    <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 mr-2.5" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                                d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                    </svg>
                    Todos
                    <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <div id="dropdownRadio"
                     class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                     data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top"
                     style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(522.5px, 3847.5px, 0px);">
                    <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="dropdownRadioButton">
                        <li>
                            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="filter-radio-example-1" type="radio" value="" name="filter-radio"
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="filter-radio-example-1"
                                       class="w-full ml-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Ultimo
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input checked="" id="filter-radio-example-2" type="radio" value=""
                                       name="filter-radio"
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="filter-radio-example-2"
                                       class="w-full ml-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">
                                    Ultimo mes
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="filter-radio-example-3" type="radio" value="" name="filter-radio"
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="filter-radio-example-3"
                                       class="w-full ml-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">
                                    Ultimo semestre
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <input id="filter-radio-example-4" type="radio" value="" name="filter-radio"
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="filter-radio-example-4"
                                       class="w-full ml-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">
                                    Ultimo año
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <table class="w-full text-sm text-left text-gray-500 shadow-2xl">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>

                    <th scope="col" class="px-6 py-3">
                        Fecha
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Accion
                    </th>
                </tr>
                </thead>
                {{# each rankings}}
                    <tbody class="ranking-row bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" data-filter="{{this.filtro}}">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{this.fecha}}
                        </th>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{this.nombre}}
                        </td>
                        <td class="px-6 py-4">
                            <a href="ranking/{{this.id}}"
                               class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver</a>
                        </td>
                    </tr>
                    </tbody>
                {{/each}}
            </table>
        </div>
    {{else}}
        <div class="h-screen flex items-center justify-center">
            <div class="bg-red-100 border border-red-400 p-10 text-red-700 px-4 py-3 rounded text-center">
                <p>No hay Rankings para mostrar</p>
            </div>
        </div>
    {{/if}}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Captura el evento de cambio en los botones de radio
            var radioButtons = document.querySelectorAll('input[name="filter-radio"]');
            radioButtons.forEach(function (radioButton) {
                radioButton.addEventListener('change', function () {
                    // Obtiene el valor del botón de radio seleccionado
                    var selectedFilter = document.querySelector('input[name="filter-radio"]:checked').value;

                    // Oculta todas las filas
                    var rows = document.querySelectorAll('.ranking-row');
                    rows.forEach(function (row) {
                        row.style.display = 'none';
                    });

                    // Muestra las filas que cumplen con el filtro seleccionado
                    if (selectedFilter === 'todos') {
                        rows.forEach(function (row) {
                            row.style.display = 'table-row';
                        });
                    } else {
                        // Filtra y muestra las filas según la opción seleccionada
                        document.querySelectorAll('.ranking-row-' + selectedFilter).forEach(function (row) {
                            row.style.display = 'table-row';
                        });
                    }
                });
            });
        });
    </script>
{{/partial}}
{{> templates/templateBase }}
