{{#partial "contenido"}}
    {{#partial "agregarAlHead"}}
        <link rel="stylesheet" href="\css\filtroFechas.css">
    {{/partial}}
    {{#if rankings}}
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg p-16">
            <div class="box mb-4">
                <select class="rounded-xl">
                    <option>Todos</option>
                    <option>Ultima semana</option>
                    <option>Ultimo mes</option>
                    <option>Ultimo año</option>
                </select>
            </div>
            <table class="w-full text-sm text-left text-gray-500 shadow-2xl">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Fecha
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Accion
                    </th>
                </tr>
                </thead>
                {{# each rankings}}
                    <tbody class="ranking-row bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" data-filter="{{this.filtro}}">
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{this.fecha}}
                        </td>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{this.nombre}}
                        </td>
                        <td class="px-6 py-4">
                            <a href="ranking/{{this.id}}"
                               class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver</a>
                        </td>
                    </tr>
                    </tbody>
                {{/each}}
            </table>
        </div>
    {{else}}
        <div class="h-screen flex items-center justify-center">
            <div class="bg-red-100 border border-red-400 p-10 text-red-700 px-4 py-3 rounded text-center">
                <p>No hay Rankings para mostrar</p>
            </div>
        </div>
    {{/if}}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Captura el evento de cambio en el select
            var select = document.querySelector('.rounded-xl');
            select.addEventListener('change', function () {
                // Obtiene el valor seleccionado en el select
                var selectedOption = select.value;

                // Oculta todas las filas
                var rows = document.querySelectorAll('.ranking-row');
                rows.forEach(function (row) {
                    row.style.display = 'none';
                });

                // Muestra las filas que cumplen con el filtro seleccionado
                if (selectedOption === 'Todos') {
                    rows.forEach(function (row) {
                        row.style.display = '';
                    });
                } else {
                    // Filtra y muestra las filas según el valor de la fecha en el td
                    var currentDate = new Date();

                    document.querySelectorAll('.ranking-row').forEach(function (row) {
                        /* Obtén la fecha */
                        var fechaString = row.querySelector('td:first-child').innerText;
                        var fecha = new Date(fechaString);

                        // Filtra según la opción seleccionada en el select
                        switch (selectedOption) {
                            case 'Ultima semana':
                                // Filtra por última semana (7 días atrás)
                                if (currentDate - fecha <= 7 * 24 * 60 * 60 * 1000) {
                                    row.style.display = '';
                                }
                                break;
                            case 'Ultimo mes':
                                // Filtra por último mes
                                if (fecha.getMonth() === currentDate.getMonth() && fecha.getFullYear() === currentDate.getFullYear()) {
                                    row.style.display = '';
                                }
                                break;
                            case 'Ultimo año':
                                // Filtra por último año
                                if (fecha.getFullYear() === currentDate.getFullYear()) {
                                    row.style.display = '';
                                }
                                break;
                            default:
                                break;
                        }
                    });
                }
            });
        });

    </script>
{{/partial}}
{{> templates/templateBase }}
