{{#partial "contenido"}}

    <div class="mb-auto">
        <!-- Perfil de Usuario -->
        <div>
            <h2 class="text-2xl font-semibold mb-4">Perfil de Usuario</h2>
            <form action="/perfil" method="POST">
                <div class="mb-4">
                    <label for="nombre" class="block text-gray-700 font-bold">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" value={{usuario.nombre}} class="border border-gray-300 p-2 w-full" required>

                </div>
                <div class="mb-4">
                    <label for="apellido" class="block text-gray-700 font-bold">Apellido:</label>
                    <input type="text" id="apellido" name="apellido"  value={{usuario.apellido}} class="border border-gray-300 p-2 w-full" required>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-gray-700 font-bold">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" value={{usuario.correoElectronico}} class="border border-gray-300 p-2 w-full" required>
                </div>
                <div class="mb-4">
                    <label for="telefono" class="block text-gray-700 font-bold">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono" value={{usuario.telefono}} class="border border-gray-300 p-2 w-full" required>
                </div>
                <div class="mb-4">
                    <label for="medioNotificacion" class="block text-gray-700 font-bold">Método de Notificación:</label>
                    <select id="medioNotificacion" name="medioNotificacion" class="border border-gray-300 p-2 w-full" required>
                        <option value="NotificarPorMail">Correo Electrónico</option>
                        <option value="NotificarPorWhatsApp">WhatsApp</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="cuandoEnviar" class="block text-gray-700 font-bold">Cuando Enviar las notificaciones?:</label>
                    <select id="cuandoEnviar" name="cuandoEnviar" class="border border-gray-300 p-2 w-full" required>
                        <option value="CuandoSuceden">Cuando suceden</option>
                        <option value="SinApuros" onclick="clickSinApuros()">Sin apuros (hay que agregar minimo un horario)</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="horarios" class="block text-gray-700 font-bold">Horarios:</label>
                    <div id="horariosContainer" class="flex flex-row gap-4">
                        {{#each horarios}}
                            <input type="time" id="horarios" name="horarios" value={{this.horario}} class="border border-gray-300 p-2">
                        {{/each}}
                        <input type="time" name="horarios" class="horarios border border-gray-300 p-2">
                    </div>
                    <button onclick="agregarHorario()" type="button" class="mt-2 bg-indigo-300 text-white py-2 px-4 rounded-md hover:bg-indigo-500">Agregar nuevo horario</button>
                </div>
                <button type="submit" class="bg-indigo-500 text-white py-2 px-4 rounded-full hover:bg-indigo-600">Guardar</button>
            </form>
        </div>

        <!-- Intereses -->
        <div >
            <h2 class="text-2xl font-semibold mb-4">Intereses</h2>
            <div class="slider-container overflow-hidden">
                <div class="slider-content flex flex-wrap gap-3">
                    {{# each intereses}}
                    <div class="slide cristal p-4 rounded-lg">
                        <h2 class="text-lg font-semibold">Interés</h2>
                        <p class="text-sm text-gray-500">{{this.servicio}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <script>
        function agregarHorario() {
            var horariosContainer = document.getElementById("horariosContainer");
            var input = document.createElement("input");
            input.type = "time";
            input.id = "horarios";
            input.name = "horarios";
            input.className = "border border-gray-300 p-2";
            horariosContainer.appendChild(input);
        }

        function clickSinApuros() {
            let horarios = document.getElementsByClassName("horarios");
            for (let i = 0; i < horarios.length; i++) {
                if (horarios[i].value === "") {
                    horarios[i].required = true;
                    break;
                }
            }
        }
        </script>
{{/partial}}

{{> templates/template }}