{{#partial "contenido"}}

    <div class="flex flex-col justify-center items-center p-5">
            <h2 class="mb-2 text-2xl font-semibold text-center text-black">Perfil de Usuario</h2>
            <form action="/perfil" method="POST">
                <div class="mb-4">
                    <label for="nombre" class="block text-black font-bold">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" value={{usuario.nombre}} class="input text-black" required>

                </div>
                <div class="mb-4">
                    <label for="apellido" class="block text-black font-bold">Apellido:</label>
                    <input type="text" id="apellido" name="apellido"  value={{usuario.apellido}} class="input text-black" required>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-black font-bold">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" value={{usuario.correoElectronico}} class="input text-black" required>
                </div>
                <div class="mb-4">
                    <label for="telefono" class="block text-black font-bold">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono" value={{usuario.telefono}} class="input text-black" required>
                </div>
                <div class="flex flex-col gap-4 justify-center items-center">
                    <select id="provincia" name="provincia"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        {{#if provincia}}
                            <option selected value="{{provincia.id}}">{{provincia.nombre}}</option>
                        {{else}}
                            <option selected disabled hidden>Seleccionar provincia</option>
                        {{/if}}
                        {{#each provincias}}
                            <option value="{{this.id}}">{{this.nombre}}</option>
                        {{/each}}
                    </select>

                    <select id="municipio" name="municipio"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option selected value="{{municipio.id}}">{{municipio.nombre}}</option>
                    </select>

                    <select id="localidad" name="localidad"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option selected value="{{localidad.id}}">{{localidad.nombre}}</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="medioNotificacion" class="block text-black font-bold">Método de Notificación:</label>
                    <select id="medioNotificacion" name="medioNotificacion" class="input text-black" required>
                        <option value="NotificarPorMail">Correo Electrónico</option>
                        <option value="NotificarPorWhatsApp">WhatsApp</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="cuandoEnviar" class="block text-black font-bold">Cuando Enviar las notificaciones?:</label>
                    <select id="cuandoEnviar" name="cuandoEnviar" class="input text-black" required>
                        <option value="CuandoSuceden">Cuando suceden</option>
                        <option value="SinApuros" onclick="clickSinApuros()">Sin apuros (hay que agregar minimo un horario)</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="horarios" class="block text-black font-bold">Horarios:</label>
                    <div id="horariosContainer" class="flex flex-col gap-4">
                        {{#each horarios}}
                            <input type="time" id="horarios" name="horarios" value={{this.horario}} class="input text-black">
                        {{/each}}
                        <input type="time" name="horarios" class="horarios input">
                    </div>
                    <button onclick="agregarHorario()" type="button" class="linkButton">Agregar nuevo horario</button>
                </div>
                <button type="submit" class="button">Guardar</button>
            </form>


    </div>
    <script>
        function agregarHorario() {
            var horariosContainer = document.getElementById("horariosContainer");
            var input = document.createElement("input");
            input.type = "time";
            input.id = "horarios";
            input.name = "horarios";
            input.className = "input text-black";
            horariosContainer.appendChild(input);
        }

        function clickSinApuros() {
            let horarios = document.getElementsByClassName("horarios");
            for (let i = 0; i < horarios.length; i++) {
                if (horarios[i].value === "") {
                    horarios[i].required = true;
                    break;
                }
            }
        }
        document.addEventListener('DOMContentLoaded', function () {
            /* when select with provincias is selected, fetch the api*/
            let provinciaId;
            let municipioId;
            let localidadId;
            let url = '{{API_GEOREF}}';
            console.log(url);
            document.getElementById('provincia').addEventListener('change', function () {
            provinciaId = this.value;
            fetch(url + 'municipios?provincia=' + provinciaId + '&max=5000')
            .then(response => response.json())
            .then(data => {
            let municipios = data.municipios;
            console.log(municipios);
            let select = document.getElementById('municipio');
            select.innerHTML = '';
            municipios.forEach(municipio => {
            let option = document.createElement('option');
            option.value = municipio.id;
            option.text = municipio.nombre;
            select.appendChild(option);
        });
            select.classList.remove('hidden');
        });
        });
            document.getElementById('municipio').addEventListener('change', function () {
            municipioId = this.value;
            fetch(url + 'localidades-censales?provincia=' + provinciaId + '&municipio=' + municipioId + '&max=5000')
            .then(response => response.json())
            .then(data => {
            console.log(data);
            let localidades = data.localidades_censales;
            let select = document.getElementById('localidad');
            select.innerHTML = '';
            localidades.forEach(localidad => {
            let option = document.createElement('option');
            option.value = localidad.id;
            option.text = localidad.nombre;
            select.appendChild(option);
        });
            // select.classList.remove('hidden');
        });
        });
            document.getElementById('localidad').addEventListener('change', function () {
            localidadId = this.value;
        });
        });
    </script>
{{/partial}}

{{> templates/templateBase }}